{% extends 'layout.html' %}

{% block container %}
<div class="row mt-4 justify-content-center">
    <div class="col-11">
        <div class="card card-outline-blue">
            <div class="card-body">
                <h3 class="card-title font-blue">Historial de solicitudes</h3>

                <div class="row">
                    <div class="col-12 mt-3">

                        <div class="row mb-2">
                            <div class="col-2">
                                <select class="form-control selectorSolicitudes">
                                    <option value="0">Solicitudes</option>
                                    <option class="solicitud-aprobadas" value="1">Aprobadas</option>
                                    <option class="solicitudes-rechazada" value="2">Rechazadas</option>
                                </select>
                            </div>
                        </div>


                        <table class="table outline-blue">
                            <thead class="table-info">
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Estatus</th>
                                    <th scope="col">Ingreso $</th>
                                    <th scope="col">Gasto Mensual $</th>
                                    <th scope="col">Aprobar</th>
                                    <th scope="col">Rechazar</th>
                                </tr>
                            </thead>
                            <tbody class="cuerpo-tabla" id="paginated-list" data-current-page="1" aria-live="polite">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <nav class="pagination-container">
                            <button class="pagination-button" id="prev-button" aria-label="Previous page"
                                title="Previous page">
                                &lt;
                            </button>

                            <div id="pagination-numbers">

                            </div>

                            <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
                                &gt;
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/solicitudes.js') }}" type="module"></script>

{% endblock %}