<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/Jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.js') }}"></script>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="row"></div>
        </div>
    </div>
    <div class="row">
        
    </div>
    <h2>Python Flask</h2>
    <button class="btn btn-danger">Peligro</button>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>